<app-header title="Buttons"/>

<ion-content [fullscreen]="true">
  <ion-button expand="full" class="ion-margin">Expand full</ion-button>
  <ion-button expand="block" class="ion-margin">Expand block</ion-button>

  <h5 class="ion-margin">Shape</h5>

  <ion-button shape="round" class="ion-margin">Round</ion-button>
  <ion-button shape="default" fill="outline" class="ion-margin">Default</ion-button>

  <h5 class="ion-margin">Fill</h5>

  <ion-button fill="outline" class="ion-margin">Outline</ion-button>
  <ion-button fill="clear" class="ion-margin">Clear</ion-button>
  <ion-button fill="solid" class="ion-margin>">Solid</ion-button>

  <h5 class="ion-margin">Size</h5>

  <ion-button size="small" class="ion-margin">Small</ion-button>
  <ion-button size="default" class="ion-margin">Default</ion-button>
  <ion-button size="large" class="ion-margin">Large</ion-button>

  <h5 class="ion-margin">With Icon</h5>

  <ion-button class="ion-margin">
    <ion-icon slot="start" name="card"></ion-icon>
    Left
  </ion-button>

  <ion-button class="ion-margin">
    Right
    <ion-icon slot="end" name="card"></ion-icon>
  </ion-button>

  <ion-button class="ion-margin">
    <ion-icon slot="icon-only" name="card"></ion-icon>
  </ion-button>

  <h5 class="ion-margin">My Buttons</h5>

  <ion-button class="ion-margin" color="danger" fill="outline">Danger Outline</ion-button>
  <ion-button class="ion-margin" fill="clear" size="large">Large Clear</ion-button>
  <ion-button class="ion-margin" color="success" fill="solid" shape="round">Success Solid Round</ion-button>
  <ion-button class="ion-margin" size="small">
    <ion-icon slot="icon-only" name="card"></ion-icon>
  </ion-button>
  <ion-button class="ion-margin" color="warning" fill="outline" size="large">Warning Outline Large</ion-button>
  
</ion-content>
