<app-header title="Chips"/>

<ion-content [fullscreen]="true">
    <ion-chip color="primary">
        <ion-label>Primary</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
        <ion-label>Secondary</ion-label>
    </ion-chip>
    <ion-chip color="tertiary">
        <ion-label>Tertiary</ion-label>
    </ion-chip>
    <ion-chip color="success">
        <ion-label>Success</ion-label>
    </ion-chip>
    <ion-chip color="warning">
        <ion-label>Warning</ion-label>
    </ion-chip>
    <ion-chip color="danger">
        <ion-label>Danger</ion-label>
    </ion-chip>
    <ion-chip color="light">
        <ion-label>Light</ion-label>
    </ion-chip>
    <ion-chip color="medium">
        <ion-label>Medium</ion-label>
    </ion-chip>
    <ion-chip color="dark">
        <ion-label>Dark</ion-label>
    </ion-chip>
    <ion-chip color="success">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Success</ion-label>
    </ion-chip>
    <ion-chip color="warning">
        <ion-icon name="warning"></ion-icon>
        <ion-label>Warning</ion-label>
    </ion-chip>
    <ion-chip color="danger">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>Danger</ion-label>
    </ion-chip>
    <ion-chip color="primary">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Primary</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Secondary</ion-label>
    </ion-chip>
    <ion-chip color="tertiary">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Tertiary</ion-label>
    </ion-chip>
    <ion-chip color="light">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Light</ion-label>
    </ion-chip>
    <ion-chip color="medium">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Medium</ion-label>
    </ion-chip>
    <ion-chip color="dark">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Dark</ion-label>
    </ion-chip>
</ion-content>
